@if (filteredData$ | async; as products) {
<div class="table-container">
  <table>
    <thead>
      <div class="header-bg"></div>
      <tr>
        <th>Date</th>
        <th>Product Code</th>
        <th>Product Description</th>
        <th class="number">Cost Price</th>
        <th class="number">Selling Price</th>
        <th>Unit</th>
        <th class="number">Quantity</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track $index) {
      <tr>
        <td>{{ product.Date | date : "dd/MM/yyyy" }}</td>
        <td style="font-weight: 600">{{ product.ProductCode }}</td>
        <td>{{ product.ProductDescription }}</td>
        <td class="number">{{ product.CostPrice | number }}</td>
        <td class="number">{{ product.SellingPrice | number }}</td>
        <td>{{ product.Unit }}</td>
        <td class="number">{{ product.Quantity | number }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
<div class="pages">
  <button (click)="previousPage()" [disabled]="page == 1">
    <i class="ph-fill ph-arrow-circle-left"></i>
  </button>
  <p>{{ page }}/{{ totalPages }}</p>
  <button (click)="nextPage()" [disabled]="page === totalPages">
    <i class="ph-fill ph-arrow-circle-right"></i>
  </button>
</div>
} @else {
<ng-template>
  <p>Loading...</p>
</ng-template>
}
