<div class="container">
  <div class="wrapper">
    <div class="hamburger" (click)="clickHamburger()">
      <img src="assets/hamburger-icon.svg" alt="" />
    </div>
    <p>Hi SHYAM, WELCOME!</p>
    <div class="profile" #profile (click)="showDropdown = !showDropdown">
      <img src="assets/profile-photo.png" alt="profile-photo" />
      <i class="ph-bold ph-caret-down"></i>
      <div class="dropdown" [ngClass]="showDropdown ? '' : 'close'" #dropdown>
        <a [routerLink]="['/home/profile']">My Profile</a>
        <button (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</div>
