<div class="container">
    <div class="wrapper">
      <div class="left-side">
        <div class="logo">
          <img src="../../../assets/MegabossLogo.png" alt="logo">
        </div>
        <div class="brand-image">
          <img src="../../../assets/login-artwork.png" alt="artwork">
        </div>
        <div class="artwork-shadow"></div>
        <p>Welcome to Mega Boss Supermarket</p>
      </div>
      <div class="right-side">
        <p>LOGIN</p>
        <div class="profile-icon">
          <img src="../../../assets/Group 648@2x.png" alt="profile-icon">
        </div>
        <form action="">
          <div class="form-group">
            <label for="username">Partner ID</label>
            <input type="text" name="username" placeholder="100004">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="..........">
          </div>
          <div class="options">
            <div class="form-group">
              <input type="checkbox"  name="remember-me">
              <label for="remember-me">Remember me</label>
            </div>
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </div>