<div class="container">
    <div class="wrapper">
        <div class="card">
            <div class="info">
                <h3>TOTAL PRODUCTS</h3>
                <p>500</p>
            </div>
            <div class="icon">
                <img src="../../../assets/total-products.svg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <p></p>
                <p></p>
            </div>
            <div class="icon">
                <img src="" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <p></p>
                <p></p>
            </div>
            <div class="icon">
                <img src="" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <p></p>
                <p></p>
            </div>
            <div class="icon">
                <img src="" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <p></p>
                <p></p>
            </div>
            <div class="icon">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>