<div class="container">
    <div class="wrapper">
        <div class="card">
            <div class="info">
                <h3>TOTAL PRODUCTS</h3>
                <p>{{ itemsService.getProducts.getValue().length }}</p>
            </div>
            <div class="icon">
                <img src="../../../assets/total-products-icon.svg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3>TOTAL SALES</h3>
                <p>55,000.00</p>
            </div>
            <div class="icon">
                <img src="../../../assets/sales-icon.svg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3>TOTAL PURCHASES</h3>
                <p>2,500.00</p>
            </div>
            <div class="icon">
                <img src="../../../assets/total-purchases-icon.svg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3>STOCK VALUE</h3>
                <p>150,000.00</p>
            </div>
            <div class="icon">
                <img src="../../../assets/stock-value-icon.svg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="info">
                <h3>PROFIT EARNED</h3>
                <p>120,900.00</p>
            </div>
            <div class="icon">
                <img src="../../../assets/profit-earned-icon.svg" alt="">
            </div>
        </div>
    </div>
</div>