
<div class="container">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="wrapper">
        <ul>
            <li [routerLink]="['view-products']">
                <div class="icon">
                    <img src="../../assets/view-product.svg" alt="">
                </div>
                <div class="title">
                    <p>View Product List</p>
                </div>
                <div class="options">
                    <p>(View, Edit, Delete)</p>
                </div>
                <div class="caret">
                    <img src="../../assets/right-arrow.svg" alt="">
                </div>
            </li>
            <li [routerLink]="['add-product']">
                <div class="icon">
                    <img src="../../assets/add-product.svg" alt="">
                </div>
                <div class="title">
                    <p>Add Product</p>
                </div>
                <div class="options">
                    <p>(Create New Product)</p>
                </div>
                <div class="caret">
                    <img src="../../assets/right-arrow.svg" alt="">
                </div>
            </li>
            
        </ul>
    </div>
</div>