
<div class="container">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="wrapper">
        <ul>
            <li>
                <div class="icon">

                </div>
                <div class="title">

                </div>
                <div class="description">

                </div>
                <div class="caret">

                </div>
            </li>
            <li>
                <div class="icon">

                </div>
                <div class="title">

                </div>
                <div class="description">

                </div>
                <div class="caret">

                </div>
            </li>
            
        </ul>
    </div>
</div>