@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    
    .wrapper {
        
        padding: .7rem;
        background-color: $white;

        ul {
            display: flex;
            flex-direction: column;
            gap: .7rem;

            li {
                display: flex;
                align-items: center;
                gap: 16px;
                padding: 5px 20px;
                background-color: #7f7777;
                color: $white;
                font-weight: 300;
                cursor: pointer;

                .icon {
                    height: 30px;
                    img {
                        height: 100%;
                    }
                }

                .title {
                    font-size: 20px;
                }

                .options {
                    font-size: 12px;
                }

                .caret {
                    height: 20px;
                    margin-left: auto;
                    img {
                        height: 100%;
                    }
                }
            }

            li:hover {
                background-color: #2869a1;
            }

        }
    }

}