<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Product Code</th>
            <th>Product Description</th>
            <th>Cost Price</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track $index) {
            <tr>
                <td><div class="image"><img [src]="[product.Image]" alt=""></div></td>
                <td>{{ product.ProductCode }}</td>
                <td>{{ product.ProductDescription }}</td>
                <td>{{ product.CostPrice }}</td>
                <td>{{ product.Quantity }}</td>
                <td>{{ product.Unit }}</td>
                <td>actions</td>
            </tr>
        }
    </tbody>
</table>