<div class="container">
  <div class="wrapper">
    <div class="bar-chart">
      <div class="title">
        <p>TOP 10 PRODUCTS COST PRICE</p>
      </div>
      <div class="bar-chart-wrapper">
        <canvas id="bar-chart"></canvas>
      </div>
    </div>
    <div class="divider"></div>
    <div class="pie-chart">
      <div class="title">
        <p>TOP 5 PRODUCTS STOCK ANALYSIS</p>
      </div>
      <div class="pie-chart-wrapper">
        <canvas id="pie-chart"></canvas>
      </div>
    </div>
  </div>
</div>
