@import '../../../styles.scss';

.container {
    margin-bottom: .7rem;
    background-color: $white;
    padding: 5px 1.4rem;
    border-radius: 5px;

    .wrapper {
        display: flex;
        gap: 20px;

        .bar-chart {
            flex: 1;
            
            canvas {
                padding: 10px 0;
            }
        }
        
        .title {
            color: #042653;
            padding: 15px 0;
            font-size: 1.2rem;
            border-bottom: 2px solid #eeeeee;
        }

        .divider {
            border: 1px solid #eeee;
        }

        .pie-chart {
            flex: .8;

            .pie-chart-wrapper {
                display: flex;
                height: 350px;
                canvas {
                    margin: auto;
                    height: 225px;
                    align-items: center;
                    justify-self: center;
                }

            }
        }
    }
}