@import "../../../styles.scss";

.container {
  margin-bottom: 0.7rem;
  background-color: $white;
  padding: 5px 1.4rem;
  border-radius: 5px;

  .wrapper {
    display: flex;
    gap: 20px;

    .bar-chart {
      flex: 1;

      .bar-chart-wrapper {
        display: flex;
        align-items: center;
        height: 85%;
        canvas {
          height: 100%;
        }
      }
    }

    .title {
      color: #042653;
      padding: 15px 0;
      font-size: 1.2rem;
      border-bottom: 2px solid #eeeeee;
    }

    .divider {
      border: 1px solid #eeee;

      &.bottom {
        display: none;
      }
    }

    .pie-chart {
      flex: 0.8;
      .pie-chart-wrapper {
        display: flex;
        align-items: start;
        height: 82%;
        canvas {
          height: 100%;
          width: 100%;
          margin: auto;
          // margin-bottom: auto;
          // align-items: center;
          // justify-self: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .wrapper {
      display: block;
      .bar-chart-wrapper {
        canvas {
          padding: 10px 0;
        }
      }
      .divider.bottom {
        display: block;
        margin-top: 0.7rem;
      }
    }
  }
}

