<div class="wrapper">
  <div class="title">Edit Product - {{ currentProduct.ProductCode }}</div>
  <div class="content">
    <div class="product-image">
      <img [src]="[currentProduct.Image]" alt="product image" />
    </div>
    <div class="form-container">
      <form [formGroup]="itemForm" (ngSubmit)="onUpdate()">
        <div class="form-control">
          <label for="ProductDescription">Product Description</label>
          <input type="text" formControlName="ProductDescription" />
        </div>
        <div class="form-control">
          <label for="Unit">Prefered Unit</label>
          <input type="text" formControlName="Unit" />
        </div>
        <div class="form-control">
          <label for="Quantity">Quantity</label>
          <input type="number" formControlName="Quantity" />
        </div>
        <div class="form-control">
          <label for="CostPrice">Cost Price</label>
          <input type="number" formControlName="CostPrice" />
        </div>
        <div class="form-control">
          <label for="selling-SellingPrice">Selling Price </label>
          <input
            type="number"
            placeholder="130.00"
            formControlName="SellingPrice"
          />
        </div>
        <button type="submit">Update</button>
      </form>
    </div>
  </div>
</div>
