<div class="container">
    <div class="logo">
        <img src="../../assets/MegabossLogo.png" alt="logo">
    </div>

    <ul>
        <li [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <span><img src="../../assets/home-icon.svg" alt=""></span>
            <a>Home</a>
        </li>
        <li  [routerLink]="['inventory']" [routerLinkActive]="['active']">
            <span><img src="../../assets/inventory-icon.svg" alt=""></span>
            <a>Inventory</a>
        </li>
        <li [routerLink]="['endofday']" [routerLinkActive]="['active']">
            <span><img src="../../assets/eod-icon.svg" alt=""></span>
            <a>End of Day</a>
        </li>
    </ul>
</div>