@import "../../styles.scss";

.container {
  position: fixed;
  width: var(--sidebar-width);
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $sidebar-bg;
  z-index: 100;

  .logo {
    padding: 10px;
    background-color: $white;

    img {
      width: 100%;
    }
  }

  ul {
    margin-top: 20px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px 10px;
      margin-bottom: 5px;

      span {
        height: 20px;

        img {
          height: 100%;
        }
      }

      a {
        text-align: start;
        font-size: 14px;
        color: $white;
        text-decoration: none;
      }
    }
    li.active {
      background-color: $main-bg;

      span {
        filter: invert(100%) sepia(0%) saturate(4921%) hue-rotate(265deg)
          brightness(112%) contrast(100%);
      }

      a {
        color: $black;
        font-weight: 500;
      }
    }
  }
}
.close {
  left: -10rem;
}

// @media screen and (max-width: 753px) {
//   .container {
//     display: none;
//   }
// }
