<div class="container">
    <div class="logo">
        <img src="../../assets/MegabossLogo.png" alt="logo">
    </div>

    <ul>
        <li>
            <span><img src="../../assets/home-icon.svg" alt=""></span>
            <a [routerLink]="['']" [routerLinkActive]="['active']">Home</a>
        </li>
        <li>
            <span><img src="../../assets/inventory-icon.svg" alt=""></span>
            <a [routerLink]="['inventory']" [routerLinkActive]="['active']">Inventory</a>
        </li>
        <li>
            <span><img src="../../assets/eod-icon.svg" alt=""></span>
            <a [routerLink]="['endofday']" [routerLinkActive]="['active']">End of Day</a>
        </li>
    </ul>
</div>