<app-breadcrumbs></app-breadcrumbs>
<div class="container">
    <div class="page-title">End of Day</div>
    <div class="page-info">View Product Summary</div>
    <div class="wrapper">
        <div class="search-container">
            <div class="search-bar">
                <p>Search</p>
                <div class="input">
                    <span><img src="../../../assets/search-mag-icon.svg" alt=""></span>
                    <input type="text" placeholder="Search Product">
                </div>
                <div class="date-filter">
                    <div class="from">
                        <label for="from">From</label>
                        <input type="date">
                    </div>
                    <div class="to">
                        <label for="to">To</label>
                        <input type="date">
                    </div>
                </div>
                <button><img src="../../../assets/reload-icon.svg" alt=""></button>
            </div>
        </div>
        <app-table></app-table>
    </div>
    <div class="pages">
        <div class="arrow">
            <!-- <img src="../../assets/round-arrow.svg" alt=""> -->
            <i class="ph-fill ph-arrow-circle-left"></i>
        </div>
        <p>1/1</p>
        <div class="arrow">
            <i class="ph-fill ph-arrow-circle-right"></i>
            <!-- <img src="../../assets/round-arrow.svg" alt=""> -->
        </div>
    </div>
</div>