<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <div class="page-title">Add Product</div>
  <div class="page-info">Create New Product</div>
  <div class="wrapper">
    <div class="title">Add New Product - ?</div>
    <!-- <p class="title">Add New Product - ?</p> -->
    <div class="content">
      <div class="drag-drop">
        <app-drag-drop></app-drag-drop>
      </div>
      <div class="form-container">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
          <div class="form-control">
            <label for="ProductDescription">Product Description</label>
            <input type="text" formControlName="ProductDescription" />
          </div>
          <div class="form-control">
            <label for="Unit">Prefered Unit</label>
            <input type="text" formControlName="Unit" />
          </div>
          <div class="form-control">
            <label for="Quantity">Quantity</label>
            <input type="number" formControlName="Quantity" />
          </div>
          <div class="form-control">
            <label for="CostPrice">Cost Price</label>
            <input type="number" formControlName="CostPrice" />
          </div>
          <div class="form-control">
            <label for="selling-SellingPrice">Selling Price</label>
            <input type="number" formControlName="SellingPrice" />
          </div>
          <button type="submit">Add Product</button>
        </form>
      </div>
    </div>
  </div>
</div>
