<div class="container">
    <div class="wrapper">
        <div class="profile-image">
            <div class="image">
                <img src="../../assets/profile-photo.png" alt="profile-photo">
            </div>
            <button><span><i class="ph-bold ph-cloud-arrow-up"></i></span>Upload Image</button>
        </div>
        <div class="profile-info">
            <h2>My Profile</h2>
            <p>This is read only User information</p>

            <form action="">
                <div class="form-control">
                    <label for="fullname">Full Name</label>
                    <input type="text" value="Shyam" disabled>
                </div>
                <div class="form-control">
                    <label for="companyname">Company Name</label>
                    <input type="text"  disabled>
                </div>
                <div class="form-control">
                    <label for="phone">Phone Number</label>
                    <input type="text" value="+254 717 147 009" disabled>
                </div>
                <div class="form-control">
                    <label for="idnumber">ID Number</label>
                    <input type="text" value="29935190" disabled>
                </div>
                <div class="form-control">
                    <label for="krapin">KRA PIN</label>
                    <input type="text" value="A100100651544F" disabled>
                </div>
                <div class="form-control">
                    <label for="compkrapin">Company KRA PIN</label>
                    <input type="text"  disabled>
                </div>
                <div class="form-control">
                    <label for="email">email</label>
                    <input type="text" value="shyam@gmail.com" disabled>
                </div>
            </form>
        </div>
        <div class="profile-rights">
            <p>User Rights</p>
            <div class="rights-box">
                <p>Product List</p>
                <label class="toggle-switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
            </div>
            <div class="rights-box">
                <p>Add Product</p>
                <label class="toggle-switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
            </div>
            <div class="rights-box">
                <p>End of Day</p>
                <label class="toggle-switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
            </div>
        </div>
    </div>
</div>