/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import 'system-font';


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #e2e2e2;
    --light-main-bg: #f8f8f8;
    --blue-button: #2d56b2;
    --sidebar-bg: #1e323d;


    --white: #fff;
    --black: #000;
}

body {
    // font-family: "Roboto", serif;
    font-family:  system-ui, "Segoe UI", Tahoma; ;
    background-color: var(--main-bg);
}